@import "tailwindcss";

/* Se o VS Code reclamar do @import, não te preocupes, 
  é só um aviso visual. O código vai funcionar.
*/

:root {
  --foreground-rgb: 15, 23, 42; /* Cor escura (Slate-900) */
  --background-rgb: 248, 250, 252; /* Cor clara (Slate-50) */
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}